Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@sorinaioja 
CristianFlaviu
/
asp.net-core-demo
Public
1
01
Code
Issues
Pull requests
1
Actions
Projects
Wiki
Security
Insights
asp.net-core-demo/.dockerignore
@CristianFlaviu
CristianFlaviu + docker
Latest commit 03ac3c0 8 days ago
 History
 1 contributor
25 lines (25 sloc)  316 Bytes
   
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete